<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPagesBug</title>
</head>
<body>
    <header>
        <nav>
            <h1>Tests</h1>
            <ol>
                <li><a asp-page="/Test1" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test1?id=valid-id&page=valid-page">Traditional link</a></li>
                <li><a asp-page="/Test2" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test2?id=valid-id&page=valid-page">Traditional link</a></li>
                <li><a asp-page="/Test3" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test3?id=valid-id&page=valid-page">Traditional link</a></li>
                <li><a asp-page="/Test4" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test4?id=valid-id&page=valid-page">Traditional link</a></li>
                <li><a asp-page="/Test5" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test5?id=valid-id&page=valid-page">Traditional link</a></li>
                <li><a asp-page="/Test6" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test6?id=valid-id&page=valid-page">Traditional link</a></li>
                <li><a asp-page="/Test7" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test7?id=valid-id&page=valid-page">Traditional link</a></li>
                <li><a asp-page="/Test8" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test8?id=valid-id&page=valid-page">Traditional link</a></li>
                <li><a asp-page="/Test9" asp-route-id="valid-id" asp-route-page="valid-page">ASP.NET Core-style link</a> | <a href="/Test9?id=valid-id&page=valid-page">Traditional link</a></li>
            </ol>
        </nav>
        <p>The expected value for "Id" is always "valid-id".  The expected value for "Page" is always "valid-page".</p>
        <p>A value of "default" indicates that the querystring parameter was either not passed or was not bound properly.</p>
        <p>A value of "/Test#", where # is the test number, indicates that the PageModel.Page() method is being used instead of the intended property.</p>
    </header>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
