@page
@model RazorPagesBug.Pages.Test8Model
@{
    ViewData["Title"] = "Test8";
}

<h1>Test8</h1>

<ul>
    <li>@Html.DisplayNameFor(m => m.Input.Id): @Model.Input.Id</li>
    <li>@Html.DisplayNameFor(m => m.Input.Page): @Model.Input.Page</li>
</ul>
