@page
@model RazorPagesBug.Pages.Test1Model
@{
    ViewData["Title"] = "Test1";
}

<h1>Test1</h1>

<ul>
    <li>@Html.DisplayNameFor(m => m.Id): @Model.Id</li>
    <li>@Html.DisplayNameFor(m => m.Page): @Model.Page</li>
</ul>
