@page
@model RazorPagesBug.Pages.Test5Model
@{
    ViewData["Title"] = "Test5";
}

<h1>Test5</h1>

<ul>
    <li>@Html.DisplayNameFor(m => m.Id): @Model.Id</li>
    <li>@Html.DisplayNameFor(m => m.Page): @Model.Page</li>
</ul>
