@page
@model RazorPagesBug.Pages.Test7Model
@{
    ViewData["Title"] = "Test7";
}

<h1>Test7</h1>

<ul>
    <li>@Html.DisplayNameFor(m => m.Input.Id): @Model.Input.Id</li>
    <li>@Html.DisplayNameFor(m => m.Input.Page): @Model.Input.Page</li>
</ul>
