@page
@model RazorPagesBug.Pages.Test3Model
@{
    ViewData["Title"] = "Test3";
}

<h1>Test3</h1>

<ul>
    <li>@Html.DisplayNameFor(m => m.Id): @Model.Id</li>
    <li>@Html.DisplayNameFor(m => m.Page): @Model.Page</li>
</ul>

